.App {
  background-color: rgb(80, 158, 81);
}

h2 {
  color: rgb(0, 255, 51);
}

header {
  padding: 10px 0;
  background-color: whitesmoke;
}

footer {
  padding: 10px 0;
  background-color: whitesmoke;
}

.Counter {
  padding: 10px 0;
  color: white;
}